linux/
macos/
web/
windows/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
.pub-cache/
.fvm/
.idea/
.metadata
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner.xcuserdata/
ios/Runner.xcuserstate
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/*.iml
pubspec.lock
.vscode/
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
